.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 5px;
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 20px;
}

.res-card > .res-logo {
  width: 100%;
  height: 135;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
